.header {
  background-color: var(--color-primary_300);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline: 1.4rem;
  border-radius: clamp(1rem, 1.5vw, 1.5rem);
  max-width: 120rem;
  margin-inline: auto;
}

.header button {
  appearance: none;
  border: none;
  background-color: var(--color-primary_200);
  width: 4.5rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  display: grid;
  place-items: center;
}

.header button:hover {
  background-color: var(--color-primary_100);
}

.header button:focus-visible {
  background-color: var(--color-primary_100);
  outline: var(--btn-outline) solid var(--color-red-light);
  outline-offset: var(--btn-outline-offset);
}
